h1{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }

  h4{
      font-weight: bold;
  }

  .input-group {
    margin: 20px auto;
    width: 100%;
  }
  input.btn.btn-lg,
  input.btn.btn-lg:focus {
    outline: #39b3d7;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button.btn {
    width: 100%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  