<div class="row" style="margin-top:40px; padding:20px;">
    <div class="col-lg-12" style="text-align:center;">
      <h1 style="font-weight:bold; font-size: 50px; color: #0069d9;">Answer the Questions!</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-0">
        <div class="quiz">
            
          <div *ngFor="let question of questions; let i = index;">
              
            <div id="single-question-{{i}}" *ngIf="question.type == 'single'">
                <h2 class="quiz-question">Q{{i+1}}. {{question?.content}}</h2>
                    <label class="btn btn-warning btn-sm form-control" style="font-weight: bold; width: 30%; pointer-events: none;">Single Correct!</label>
                    <label class="btn btn-primary btn-sm form-control" style="font-weight: bold; width: 30%; float: right;" (click)="showAnswerOptions(i)">Click here to answer!</label>
                    <div id="answerOptions-{{i}}" style="display : none;">
                    <div ngbDropdown class="input-group">
                        <label ngbDropdownToggle class="btn btn-primary btn-lg form-control" id="dropDown" style=" height: 50px;">Select your answer</label>
                            <div class="row" ngbDropdownMenu aria-labelledby="dropDown">
                                <ul class="row quiz-answer" style="width: 100%;" *ngFor="let option of question.options; let j = index;">
                                    <li style="width: 100%;"> 
                                     <label class="quiz-answer" style="width: 100%;"> 
                                      <input type="radio" name="optSingle" id="optSingle-{{i}}" value="{{j}}" (change)="onChange(j, $event)"> {{option}}</label>
                                    </li>
                                 </ul>
                                 
                            </div>
                            <label id="label-display-{{i}}" class="btn btn-warning btn-lg form-control" style="pointer-events: none; height: 50px;">{{question?.options[this.displaySingleType]}}</label>
        
                      </div>
                      <button class="btn btn-success btn-sm form-control" (click)="submitAnswerSingleType(question?.answer)">Submit Answer</button>
                      </div>

                
            </div>

            <div *ngIf="question.type == 'multiple'">
                <h2 class="quiz-question">Q{{i+1}}. {{question?.content}}</h2>
                <label class="btn btn-warning btn-sm form-control" style="font-weight: bold; width: 30%; pointer-events: none;">Multiple Correct!</label>
                <label class="btn btn-primary btn-sm form-control" style="font-weight: bold; width: 30%; float: right;" (click)="showAnswerOptions(i)">Click here to answer!</label>
                <div id="answerOptions-{{i}}" style="display : none;">
                    <div ngbDropdown class="input-group">
                        <label ngbDropdownToggle class="btn btn-primary btn-lg form-control" id="dropDown" style=" height: 50px;">Select your answer</label>
                            <div class="row" ngbDropdownMenu aria-labelledby="dropDown">
                                <ul class="row quiz-answer" style="width: 100%;" *ngFor="let option of question.options; let j = index;">
                                    <li style="width: 100%;"> 
                                        <label class="quiz-answer" style="width: 100%;"> 
                                      <input type="checkbox" name="optcheck" value="{{j}}" (click)="onChangeMultiple(j)">  {{option}}
                                    </label>
                                    </li>  
                                 </ul>
                                </div>         
                      </div>
                      <div class="input-group" *ngFor="let element of checkMultipleType; let k = index;">
                          <label class="btn btn-primary btn-lg form-control" style="height: 50px; width: 30%;">Selected Option</label>
                          <label id="label-display-{{i}}" class="btn btn-warning  btn-lg form-control" style="pointer-events: none; height: 50px;">{{question?.options[element]}}</label>
                      </div>

                      
                     <button class="btn btn-success btn-sm form-control" (click)="submitAnswerMultipleType(question?.answer)">Submit Answer</button>
                </div>
                
            </div>

            <div *ngIf="question.type == 'fill'">
                <h2 class="quiz-question">Q{{i+1}}. {{question?.content}}</h2>
                <label class="btn btn-warning btn-sm form-control" style="font-weight: bold; width: 30%; pointer-events: none;">Fill in the Blanks!</label>
                <label class="btn btn-primary btn-sm form-control" style="font-weight: bold; width: 30%; float: right;" (click)="showAnswerOptions(i)">Click here to answer!</label>
                <div id="answerOptions-{{i}}" style="display : none;">
                    <ul>
                        <li class="quiz-answer"> 
                          <input type="text" name="answer" class="form-control" placeholder="Your Answer" [(ngModel)]="textFillType" (change)="onChangeTextFillIn()"></li>
                      </ul>
                      <button class="btn btn-success btn-sm form-control" (click)="submitAnswerTextFillIn(question?.fillIn)">Submit Answer</button>
                </div>
               
            </div>

            <div *ngIf="question.type == 'one_or_more'">
                <h2 class="quiz-question">Q{{i+1}}. {{question?.content}}</h2>
                <label class="btn btn-warning btn-sm form-control" style="font-weight: bold; width: 30%; pointer-events: none;">One or More than One Correct!</label>
                <label class="btn btn-primary btn-sm form-control" style="font-weight: bold; width: 30%; float: right;" (click)="showAnswerOptions(i)">Click here to answer!</label>
                <div id="answerOptions-{{i}}" style="display : none;">
                    <div ngbDropdown class="input-group">
                        <label ngbDropdownToggle class="btn btn-primary btn-lg form-control" id="dropDown" style=" height: 50px;">Select your answer</label>
                            <div class="row" ngbDropdownMenu aria-labelledby="dropDown">
                                <ul class="row quiz-answer" style="width: 100%;" *ngFor="let option of question.options; let j = index;">
                                    <li style="width: 100%;"> 
                                        <label class="quiz-answer" style="width: 100%;"> 
                                      <input type="checkbox" name="optcheck" value="{{j}}" (click)="onChangeOneOrMore(j)">  {{option}}
                                    </label>
                                    </li>  
                                 </ul>
                                </div>         
                      </div>
                      <div class="input-group" *ngFor="let element of checkOneOrMoreType; let k = index;">
                          <label class="btn btn-primary btn-lg form-control" style="height: 50px; width: 30%;">Selected Option</label>
                          <label id="label-display-{{i}}" class="btn btn-warning  btn-lg form-control" style="pointer-events: none; height: 50px;">{{question?.options[element]}}</label>
                      </div>
                     <button class="btn btn-success btn-sm form-control" (click)="submitAnswerOneOrMoreType(question?.answer)">Submit Answer</button>
                </div>
               
            </div>

          </div>
      </div>
    </div>
  </div>
  </div>

