<div class="row" style="margin-top:40px; padding:20px;">
    <div class="col-lg-12" style="text-align:center;">
      <h1 style="font-weight:bold; font-size: 50px; color: #0069d9;">Post your Question!</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
  
  
        <form [formGroup]="questionForm">
          <div class="input-group" style=" margin-block-end: 0; margin-bottom: 0;">
            <label class="btn btn-primary btn-lg form-control" style="pointer-events: none; height: 50px;">Your Question</label>
          </div>
          <div class="input-group" style=" margin-block-start: 0; margin-top: 0;">
              <textarea class="form-control" formControlName="content" name="content" id="content" type="text"
              placeholder="Post your Question here"></textarea>
          </div>
          <div class="input-group">
            <label class="btn btn-primary btn-lg form-control" style="pointer-events: none; height: 50px;">Type of Question</label>
          </div>
          <div class="input-group row">
            <div class="col-md-3">
                <label class="radio-inline" style="padding-inline-end: 20px;"><input type="radio" class="btn-primary" formControlName="type" name="type" value="single" (change)="changeRadioSingle()">  Single Choice Correct</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline" style="padding-inline-end: 20px;"><input type="radio" class="btn-primary" formControlName="type" name="type" value="multiple" (change)="changeRadioMultiple()">  Multiple Choice Correct</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline" style="padding-inline-end: 20px;"><input type="radio" class="btn-primary" formControlName="type" name="type" value="fill" (change)="changeRadioFill()">  Fill in the Blanks</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline" style="padding-inline-end: 20px;"><input type="radio" class="btn-primary" formControlName="type" name="type" value="one_or_more" (change)="changeRadioOneOrMore()">  One or More than one Correct</label>
            </div>
          </div>
          <div class="input-group">
            <label class="btn btn-primary btn-lg form-control" style="pointer-events: none; height: 50px;">Prepare Answer Options</label>
          </div>
          <div class="input-group row" id="fillIn" style="display:none;">
              <div class="input-group row">
                  <div class="col-md-12">
                  <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input Correct Answer</label>
                  <input type="text" class="form-control" formControlName="fillInAnswer" name="fillInAnswer" id="fillInAnswer" placeholder="Correct Answer">
                   </div>
                </div>
          
          </div>
          <div class="input-group row" id="notFillIn" style="display:none;">

            <div class="input-group row" *ngFor="let options of inputOptions; let i = index;">
              <div class="col-md-12">
              <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input your Option {{options}}</label>
              <input type="text" class="form-control" formControlName="option{{options}}" name="option{{options}}" id="option{{options}}" placeholder="Your Option {{options}}">
               </div>
               
            </div>
            <div class="input-group row">
              <div class="col-md-4">
                <button class="btn-primary btn-sm form-control" (click)="addOptions();">Add New Option</button>
               </div>
               <div class="col-md-4" *ngIf="this.inputOptions.length > 1">
                <button class="btn-danger btn-sm form-control" (click)="removeLastOption();">Remove last Option</button>
               </div>
            </div>
            
                  <div class="input-group row">
                    <div class="col-md-12">
                    <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input Correct Option(s) Number separated by ","</label>
                    <input type="text" class="form-control" formControlName="correctAnswers" name="correctAnswers" id="correctAnswers" placeholder="Correct Option(s) Number" pattern="[0-9]," required>
                     </div>
                  </div>
            
          </div>
          <div class="mt-4 col-md-12">
  
          </div>
          <div class="input-group">
            <button class="btn btn-success btn-lg form-control" style="font-weight: bold;" (click)="createQuestion()">Post this Question!</button>
  
          </div>
          <div class="input-group">
              <button class="btn btn-danger btn-lg form-control" type="button" style="font-weight: bold;" [routerLink]="['/home']">Back to Home</button>
          </div>
        </form>
  
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>